<h2 align='center'> Day 11 Assignment </h2>

# Finding Correlation Between Attrition and Other Variables

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
df = pd.read_csv('general_data.csv')

#### Checking first 5 records

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

#### Checking shape of Dataframe

In [4]:
df.shape

(4410, 24)

#### Checking Null Columns

In [5]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

#### Droping Null Values

In [6]:
df = df.dropna()

In [7]:
df.isnull().sum()

Age                        0
Attrition                  0
BusinessTravel             0
Department                 0
DistanceFromHome           0
Education                  0
EducationField             0
EmployeeCount              0
EmployeeID                 0
Gender                     0
JobLevel                   0
JobRole                    0
MaritalStatus              0
MonthlyIncome              0
NumCompaniesWorked         0
Over18                     0
PercentSalaryHike          0
StandardHours              0
StockOptionLevel           0
TotalWorkingYears          0
TrainingTimesLastYear      0
YearsAtCompany             0
YearsSinceLastPromotion    0
YearsWithCurrManager       0
dtype: int64

- No Null values are there now 
<hr>

### Dropping Duplicates

In [8]:
df = df.drop_duplicates()

- Resultant Shape of Dataset

In [9]:
df.shape

(4382, 24)

#### Checking information of Dataset

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4382 non-null   int64
 1   Attrition                4382 non-null   object
 2   BusinessTravel           4382 non-null   object
 3   Department               4382 non-null   object
 4   DistanceFromHome         4382 non-null   int64
 5   Education                4382 non-null   int64
 6   EducationField           4382 non-null   object
 7   EmployeeCount            4382 non-null   int64
 8   EmployeeID               4382 non-null   int64
 9   Gender                   4382 non-null   object
 10  JobLevel                 4382 non-null   int64
 11  JobRole                  4382 non-null   object
 12  MaritalStatus            4382 non-null   object
 13  MonthlyIncome            4382 non-null   int64
 14  NumCompaniesWorked       4382 non-null   float64
 15  Over18                   4382 non-null   object
 16  PercentSalaryHike        4382 non-null   int64
 17  StandardHours            4382 non-null   int64
 18  StockOptionLevel         4382 non-null   int64
 19  TotalWorkingYears        4382 non-null   float64
 20  TrainingTimesLastYear    4382 non-null   int64
 21  YearsAtCompany           4382 non-null   int64
 22  YearsSinceLastPromotion  4382 non-null   int64
 23  YearsWithCurrManager     4382 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 855.9+ KB

###  Creating Dummy Variable of Attrition Column

In [11]:
dummy = pd.get_dummies(df['Attrition'], drop_first= True)

In [12]:
dummy

      Yes
0       0
1       1
2       0
3       0
4       0
...   ...
4404    0
4405    0
4406    0
4407    0
4408    0

[4382 rows x 1 columns]

In [13]:
df = pd.concat([df,dummy], axis=1)

In [14]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Yes
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,Y,11,8,0,1.0,6,1,0,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,Y,23,8,1,6.0,3,5,1,4,1
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,Y,15,8,3,5.0,2,5,0,3,0
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,Y,11,8,3,13.0,5,8,7,5,0
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,Y,12,8,2,9.0,2,6,0,4,0

In [15]:
df = df.drop('Attrition',axis=1)

In [16]:
df.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Yes
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,Y,11,8,0,1.0,6,1,0,0,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,Y,23,8,1,6.0,3,5,1,4,1
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,...,Y,15,8,3,5.0,2,5,0,3,0
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,...,Y,11,8,3,13.0,5,8,7,5,0
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,...,Y,12,8,2,9.0,2,6,0,4,0

In [17]:
df.rename(columns={'Yes':'Attrition'}, inplace=True)

### Resultant Dataset

In [18]:
df.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,JobLevel,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,51,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,1,...,Y,11,8,0,1.0,6,1,0,0,0
1,31,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,1,...,Y,23,8,1,6.0,3,5,1,4,1
2,32,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,4,...,Y,15,8,3,5.0,2,5,0,3,0
3,38,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,3,...,Y,11,8,3,13.0,5,8,7,5,0
4,32,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,1,...,Y,12,8,2,9.0,2,6,0,4,0

### Importing Pearson Correlation Coefficient

In [19]:
from scipy.stats import pearsonr

### Finding Correlation between Attrition and Age

H0 : There is no correlation between the Attrition and Age of employee

H1 : There is Significant correlation between the Attrition and Age of employee

In [20]:
stats,p = pearsonr(df.Attrition, df.Age)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.1583986795409671 and p value is 5.1265982193780794e-26

* The value of r lies in between 0 and -1  and p value < 0.05 .
* So, Null Hypothesis is rejected and Alternative Hypothesis is Accepted ie, 
* There is Significant Correlation Between Age and Atrrition
<hr>

### Finding Correlation between Attrition and Distance from Home

H0 : There is no correlation between the Attrition and Distance from Home

H1 : There is Significant correlation between the Attrition and Distance from Home

In [21]:
stats,p = pearsonr(df.Attrition, df.DistanceFromHome)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.009448638515156248 and p value is 0.5317715668019558

* The value of r lies in between 0 and -1 and p value > 0.05 .
* So, Null Hypothesis is accepted and Alternative Hypothesis is rejected ie, 
* There is No Correlation Between Distance from Home and Atrrition
<hr>

### Finding Correlation between Attrition and Education

H0 : There is no correlation between the Attrition and Age of  Education

H1 : There is Significant correlation between the Attrition and Age of  Education

In [22]:
stats,p = pearsonr(df.Attrition, df.Education)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.017106307050278723 and p value is 0.25757539308157945

* The value of r lies in between 0 and -1 and p value > 0.05 .
* So, Null Hypothesis is accepted and Alternative Hypothesis is rejected ie, 
* There is No Correlation Between Education and Atrrition
<hr>

### Finding Correlation between Attrition and EmployeeID

H0 : There is no correlation between the Attrition and EmployeeID

H1 : There is Significant correlation between the Attrition and EmployeeID

In [23]:
stats,p = pearsonr(df.Attrition, df.EmployeeID)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.004620541850379514 and p value is 0.7597730060918658

* The value of r lies in between 0 and -1 and p value > 0.05 .
* So, Null Hypothesis is accepted and Alternative Hypothesis is rejected ie, 
* There is No Correlation Between EmployeeID and Atrrition
<hr>

### Finding Correlation between Attrition and Job Level

H0 : There is no correlation between the Attrition and Job Level

H1 : There is Significant correlation between the Attrition and Job Level

In [24]:
stats,p = pearsonr(df.Attrition, df.JobLevel)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.012381569720790877 and p value is 0.4125489150380087

* The value of r lies in between 0 and -1 and p value > 0.05 .
* So, Null Hypothesis is accepted and Alternative Hypothesis is rejected ie, 
* There is No Correlation Between Job Level and Atrrition
<hr>

### Finding Correlation between Attrition and Monthly Income

H0 : There is no correlation between the Attrition and Monthly Income

H1 : There is Significant correlation between the Attrition and Monthly Income

In [25]:
stats,p = pearsonr(df.Attrition, df.MonthlyIncome)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.030160293808460664 and p value is 0.045890862744719166

* The value of r lies in between 0 and -1  and p value >= 0.05 . 
* So, Null Hypothesis is accepted and Alternative Hypothesis is rejected ie, 
* There is No Correlation Between Monthly Income and Atrrition
<hr>

### Finding Correlation between Attrition and NumCompaniesWorked

H0 : There is no correlation between the Attrition and NumCompaniesWorked

H1 : There is Significant correlation between the Attrition and NumCompaniesWorked

In [26]:
stats,p = pearsonr(df.Attrition, df.NumCompaniesWorked)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is 0.04283056724472088 and p value is 0.004572057121620842

* The value of r lies in between 0 and 1 and p value < 0.05 . 
* So, Null Hypothesis is rejected and Alternative Hypothesis is accepted ie, 
* There is Significant Correlation Between NumCompaniesWorked and Atrrition
<hr>

### Finding Correlation between Attrition and PercentSalaryHike

H0 : There is no correlation between the Attrition and  PercentSalaryHike

H1 : There is Significant correlation between the Attrition and  PercentSalaryHike

In [27]:
stats,p = pearsonr(df.Attrition, df.PercentSalaryHike)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is 0.03315303713546665 and p value is 0.028192446935106235

* The value of r lies in between 0 and 1 and p value < 0.05 . 
* So, Null Hypothesis is rejected and Alternative Hypothesis is accepted ie, 
* There is Significant Correlation Between PercentSalaryHike and Atrrition
<hr>

### Finding Correlation between Attrition and StockOptionLevel

H0 : There is no correlation between the Attrition and  StockOptionLevel

H1 : There is Significant correlation between the Attrition and  StockOptionLevel

In [28]:
stats,p = pearsonr(df.Attrition, df.StockOptionLevel)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.008164026684984328 and p value is 0.588999635831226

* The value of r lies in between 0 and -1 and p value > 0.05 . 
* So, Null Hypothesis is accepted and Alternative Hypothesis is rejected ie, 
* There is No Correlation Between Stock Option Level and Atrrition
<hr>

### Finding Correlation between Attrition and Total Working Years

In [29]:
stats,p = pearsonr(df.Attrition, df.TotalWorkingYears)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.1696699168472392 and p value is 1.1645434967091854e-29

* The value of r lies in between 0 and -1 and p value < 0.05 . 
* So, Null Hypothesis is rejected and Alternative Hypothesis is accepted ie, 
* There is Significant Correlation  Between Total Working Years and Atrrition
<hr>

### Finding Correlation between Attrition and Training Times LastYear

H0 : There is no correlation between the Attrition and Training Times LastYear

H1 : There is Significant correlation between the Attrition and Training Times LastYear

In [30]:
stats,p = pearsonr(df.Attrition, df.TrainingTimesLastYear)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.04758573693081737 and p value is 0.0016276603635477602

* The value of r lies in between 0 and -1 and p value < 0.05 . 
* So, Null Hypothesis is rejected and Alternative Hypothesis is accepted ie, 
* There is Significant Correlation  Between Training Times LastYear and Atrrition
<hr>

### Finding Correlation between Attrition and Years At Company

H0 : There is No Correlation between the Attrition and Years At Company 

H1 : There is Significant Correlation between the Attrition and Years At Company

In [31]:
stats,p = pearsonr(df.Attrition, df.YearsAtCompany)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.1330026184252154 and p value is 9.476118084836507e-19

* The value of r lies in between 0 and 1 and p value < 0.05 . 
* So, Null Hypothesis is rejected and Alternative Hypothesis is accepted ie, 
* There is Significant Correlation Between Years At Company and Atrrition
<hr>

### Finding Correlation between Attrition and Years Since Last Promotion

H0 : There is No Correlation between the Attrition and Years Since Last Promotion

H1 : There is Significant Correlation between the Attrition and Years Since Last Promotion

In [32]:
stats,p = pearsonr(df.Attrition, df.YearsSinceLastPromotion)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.03142315056330995 and p value is 0.03752293607395154

* The value of r lies in between 0 and 1 and p value < 0.05 . 
* So, Null Hypothesis is rejected and Alternative Hypothesis is accepted ie, 
* There is Significant Correlation Between Years Since Last Promotion and Atrrition
<hr>

### Finding Correlation between Attrition and Years With Current Manager

H0 : There is No Correlation between the Attrition and Years With Current Manager

H1 : There is Significant Correlation between the Attrition and Years With Current Manager

In [33]:
stats,p = pearsonr(df.Attrition, df.YearsWithCurrManager)
print('The r value is {} and p value is {}'.format(stats,p))

The r value is -0.15469153690287274 and p value is 7.105369646771178e-25

* The value of r lies in between 0 and -1 and p value < 0.05 
* So, Null Hypothesis is rejected and Alternative Hypothesis is accepted ie, 
* There is Significant Correlation Between Years With Current Manager and Atrrition
<hr>

## Correlation Matrix

In [34]:
df.corr()

,Age,DistanceFromHome,Education,EmployeeCount,EmployeeID,JobLevel,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
Age,1.000000,0.007376,-0.033900,NaN,0.008105,-0.001137,-0.045163,0.299527,-0.032561,NaN,-0.031504,0.680037,-0.028962,0.311281,0.215650,0.201580,-0.158399
DistanceFromHome,0.007376,1.000000,-0.007491,NaN,-0.000326,-0.039990,-0.022757,-0.014449,0.037720,NaN,0.009353,0.009574,-0.008957,0.030746,0.002243,0.021773,-0.009449
Education,-0.033900,-0.007491,1.000000,NaN,-0.009389,0.045822,0.007289,-0.016210,-0.041054,NaN,0.002386,-0.009228,0.009939,0.005997,0.023457,0.005645,-0.017106
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeID,0.008105,-0.000326,-0.009389,NaN,1.000000,-0.003090,0.007865,0.000719,-0.004877,NaN,-0.013488,-0.001688,-0.012102,0.004117,0.000814,0.009079,-0.004621
JobLevel,-0.001137,-0.039990,0.045822,NaN,-0.003090,1.000000,0.046688,-0.009759,0.010874,NaN,0.000365,-0.036293,-0.031931,-0.063360,-0.059680,-0.053898,-0.012382
MonthlyIncome,-0.045163,-0.022757,0.007289,NaN,0.007865,0.046688,1.000000,-0.021446,0.004607,NaN,0.027242,-0.034398,0.049780,0.000088,0.064470,0.023095,-0.030160
NumCompaniesWorked,0.299527,-0.014449,-0.016210,NaN,0.000719,-0.009759,-0.021446,1.000000,0.030064,NaN,0.016291,0.238807,-0.031335,-0.117213,-0.035855,-0.109372,0.042831
PercentSalaryHike,-0.032561,0.037720,-0.041054,NaN,-0.004877,0.010874,0.004607,0.030064,1.000000,NaN,0.012104,-0.018480,-0.036720,-0.029022,-0.028654,-0.039687,0.033153
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,-0.031504,0.009353,0.002386,NaN,-0.013488,0.000365,0.027242,0.016291,0.012104,NaN,1.000000,0.003138,-0.068028,0.009369,0.019889,0.019398,-0.008164
TotalWorkingYears,0.680037,0.009574,-0.009228,NaN,-0.001688,-0.036293,-0.034398,0.238807,-0.018480,NaN,0.003138,1.000000,-0.041459,0.627738,0.404058,0.458640,-0.169670
TrainingTimesLastYear,-0.028962,-0.008957,0.009939,NaN,-0.012102,-0.031931,0.049780,-0.031335,-0.036720,NaN,-0.068028,-0.041459,1.000000,-0.010447,0.015340,-0.015792,-0.047586
YearsAtCompany,0.311281,0.030746,0.005997,NaN,0.004117,-0.063360,0.000088,-0.117213,-0.029022,NaN,0.009369,0.627738,-0.010447,1.000000,0.618722,0.769161,-0.133003
YearsSinceLastPromotion,0.215650,0.002243,0.023457,NaN,0.000814,-0.059680,0.064470,-0.035855,-0.028654,NaN,0.019889,0.404058,0.015340,0.618722,1.000000,0.510341,-0.031423
YearsWithCurrManager,0.201580,0.021773,0.005645,NaN,0.009079,-0.053898,0.023095,-0.109372,-0.039687,NaN,0.019398,0.458640,-0.015792,0.769161,0.510341,1.000000,-0.154692
Attrition,-0.158399,-0.009449,-0.017106,NaN,-0.004621,-0.012382,-0.030160,0.042831,0.033153,NaN,-0.008164,-0.169670,-0.047586,-0.133003,-0.031423,-0.154692,1.000000